h1, h2, p, td, li, th {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



body {
    background-color: white;
}

header {
    background-color: #1b5c85;
    padding: 30px;
    text-align: center;
}

#TitleName {
    color: white;
    margin: 0;
}

#TitleFooter {
    color: white;
}

section {
    /* margin-left: 10px; */
}

footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #1b5c85;
    text-align: center;
}

.InBlueBackground {
    color: white;
}

.Socials {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.PersonalSection {
    display: flex;
    justify-content: space-evenly;
    border-bottom-style: solid;
    border-width: 2px;
}

#PersonalTitle {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 200%;
}

#ExperienceTitle {
    text-align: center;
    font-size: 200%;
}

.ExperienceSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
}