h1, h2, p, td, li, th {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



body {
    background-color: white;
}

header {
    background-color: #1b5c85;
    padding: 30px;
    text-align: center;
}

#TitleName {
    color: white;
    margin: 0;
}

#TitleFooter {
    color: white;
}

.PersonalSections {
    margin-left: 10px;

}

footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #1b5c85;
    text-align: center;
}